DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
DATABASE_PORT=4000
JWT_SECRET="your_jwt_secret"
LOG_LEVEL="info"
NODE_ENV="dev"
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
