.event-card__recover-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;

    color: var(--color-dark);
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;

    border: 3px solid var(--color-dark);
    cursor: pointer;

    box-shadow: 4px 4px 0px var(--color-dark);
    transition: all 0.1s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}
